* {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.login-form {
  height: 100vh;
  display: flex;
  background-color: #535353;
  align-items: center;
  justify-content: center;
}

form {
  display: block;
  position: relative;
}

